<div class="card">
  
  <img src="me.jpeg">
  <h1>Fábio Meneghetti</h1>
  <span style="font-size: 90%;">Mathematician</span>

  <ul>
    <li><a href="/docs/resume.pdf">{% include svg/cv.svg %}</a></li>
    <li><a href="https://www.researchgate.net/profile/Fabio-C-C-Meneghetti">{% include svg/researchgate.svg %}</a></li>
    <li><a href="http://lattes.cnpq.br/5029099102514492">{% include svg/lattes.svg %}</a></li>
    <li><a href="https://github.com/fabiom">{% include svg/github.svg %}</a></li>
  </ul>
  
</div>
