<ul id="links">
  <li><a href="http://lattes.cnpq.br/5029099102514492">{% include svg/lattes.svg %}</a></li>
  <li><a href="https://orcid.org/0000-0001-8323-1282">{% include svg/orcid.svg %}</a></li>
  <li><a href="https://scholar.google.com/citations?user=htGuJdwAAAAJ">{% include svg/google-scholar.svg %}</a></li>
  <li><a href="https://www.researchgate.net/profile/Fabio-C-C-Meneghetti">{% include svg/researchgate.svg %}</a></li>
  <li><a title="Mastodon" href="https://mathstodon.xyz">{% include svg/mastodon.svg %}</a></li>
</ul>
