<nav>
    <ul>
	    {% for i in site.nav %}
        <li><a class="{% if page.section == i.name %}active{% endif %}" href="{{ i.link }}">{{ i.name }}</a></li>
        {% endfor %}
				<li class="nav-right"><button class="theme-selector" type="button" title="Toggle dark mode"><span class="theme-sun">{% include svg/sun-solid.svg %}</span><span class="theme-moon">{% include svg/moon-solid.svg %}</span></button></li>
    </ul>
    <hr>
    <script src="{{ site.baseurl }}/js/theme.js"></script>
</nav>
