{% for publication in site.data.publications | sort: 'date' %}
<div class="publication">
  <a class="publication-text" href="{{ publication.link }}">{{ publication.title }}</a>
  <span class="publication-text">{{ publication.authors }}</span>
  <i class="publication-text">{{ publication.identifier }}</i>
  {{ publication.date }} — 
  {% if publication.doi %}
    <a class="pub-button doi" href="https://doi.org/{{ publication.doi }}">doi</a>
  {% endif %}
  {% if publication.arxiv %}
    <a class="pub-button arxiv" href="https://arxiv.org/abs/{{ publication.arxiv }}">arXiv</a>
  {% endif %}
  {% if publication.pdf %}
    <a class="pub-button pdf" href="{{ publication.pdf }}">PDF</a>
  {% endif %}
</div>
{% endfor %}