{% for publication in site.data.publications | sort: 'date' %}
<div class="publication">
  <span class="publication-text"><a href="{{ publication.link }}">{{ publication.title }}</a></span>
  <span class="publication-text">{{ publication.authors }}</span>
  <span class="publication-text">{{ publication.date}} — <i>{{ publication.identifier }}</i> — 
  {% if publication.doi %}
    <a class="pub-button doi" href="https://doi.org/{{ publication.doi }}">doi</a>
  {% endif %}
  {% if publication.arxiv %}
    <a class="pub-button arxiv" href="https://arxiv.org/abs/{{ publication.arxiv }}">arXiv</a>
  {% endif %}
  {% if publication.pdf %}
    <a class="pub-button pdf" href="{{ publication.pdf }}">PDF</a>
  {% endif %}
  </span>
</div>
{% endfor %}
