@import "fonts";

// About page

#me {
  border-radius: 6px;
  float: right;
  margin: 0.3em;
  max-width: 30%;
}

#links {
  list-style: none;
  display: block;
  padding: 0;
  font-size: 8.5pt;
  
  svg {
    fill: var(--accent-color);
    width: 3em;
    height: 3em;
  }

  li {
    display: inline-block;
    margin-right: 6px;
  }
}


// Publications

.publication {
  margin-bottom: 3em;
}

.publication-text {
  display: block;
}

.pub-button {
  font-size: small;
  font-family: var(--font-mono);
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  padding: 2px 5px;
  &:hover {
    text-decoration: none;
  }
}

.doi {
  background: #326C99;
}
.arxiv {
  background: #b31b1b;
}
.pdf {
  background: green;
}
