nav {
    display: block;
    color: $color;
    border-top: 5px solid #249f6c;

    ul {
        font-family: $font-sans;
        margin: 0 auto;
        padding: 0 6px;
        display: block;
        list-style: none;
        max-width: $max-width;
        li {
            display: inline-block;
            a {
                color: $color;
		        display: block;
                padding: 14px 10px;
		        text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        li.mastodon {
            float: right;
            a {
                width: 1.2em;
                svg {
                    fill: $color;
                }
                &:hover > svg {
                    fill: #bbbbbb;
                    transition: fill 0.2s;
                }
            }
        }
    }
    .active {
        border-bottom: 3px solid;
        padding-bottom: 11px;
    }

    hr {
	margin: 0;
    }
}

footer {
    margin: 2em 0;
    color: $footer-color;
    font-size: $footer-font-size;
    font-family: $font-mono;
    text-align: center;
}

.ig-back {
    text-decoration: none;
    &::before { content: "« "; }
}