nav {
    display: block;
    background: $darker-background;
    color: $color;
    padding: $nav-button-padding 0 0;

    .title {
	display: block;
        max-width: $max-width;
	margin: 1.5em auto;
	padding: 0 1em;

	h1 {
            font-size: 180%;
            margin: 0;
	    a {
		color: inherit;
		text-decoration: none;
	    }
	}

	.name-description {
	    font-size: 90%;
	    font-family: $font-mono;
	}

    }

    ul {
        font-family: $font-mono;
        margin: 0 auto;
        padding: 0 10px;
        display: block;
        list-style: none;
        max-width: $max-width;
        li {
            display: inline-block;
	    padding: 7px 0;
            a {
		color: $nav-link-color;
		display: block;
                padding: 8px;
		text-decoration: none;
            }
        }
    }
    .active {
        color: $color;
	font-weight: 700;
    }

    hr {
	margin: 0;
    }
}

footer {
    margin: 2em 0;
    color: $footer-color;
    font-size: $footer-font-size;
    font-family: $font-mono;
    text-align: center;
}

.ig-back {
    text-decoration: none;
    &::before { content: "« "; }
}
