nav {
    display: block;
    font-family: $font-mono;
    font-variant: small-caps;
    font-size: 1.1em;
    margin-top: $nav-button-padding;

    ul {
        margin: 0 auto;
        padding: 0;
        display: block;
        list-style: none;
        max-width: max-content;
    }
    
    li {
        display: inline-block;
    }

    a {
        padding: $nav-button-padding;
        color: $footer-color;
        text-decoration: none;
        &:hover {
            color: $color;
            transition: .2s;
        }
    }
    .active { color:#fff; }
}

footer {
    margin: 2em 0;
    color: $footer-color;
    font-size: $footer-font-size;
    text-align: center;
}

.ig-back {
    text-decoration: none;
    &::before { content: "« "; }
}
