@import "vars";
@import "fonts";
@import "nav-foot";

body{
    margin: 0;
    background: $background;
    color: $color;
    font-family: $font-serif;
    font-size: $font-size;
    line-height: 1.4;
}

.wrapper{
    margin: 6rem auto;
    padding: 0 $wrapper-padding;
    max-width: $max-width;

    li {
        margin-bottom: 5px;
    }
}
.ig-wrapper{ max-width: 50rem; }

// Text elements

a {
    color: $link-color;
}
code {
    font-family: $font-mono;
}
hr {
    border-top: 0;
    border-color: #515151;
    margin-top: 1.5em;
}


// Headers
h1,h2,h3,h4 {
  font-family: $font-sans;
  margin-top: 1.2em;
}
h2,h3,h4 {
  border-bottom: 1px solid $footer-color;
}

// About page
.card {
    > img {
        float: right;
        border-radius: 50%;
        max-width: 30%;
        margin: 2px 0 7px 7px;
    }
    h1 {
        font-size: 180%;
        margin: 0;
    }
    .name-description {
	font-size: 95%;
	font-family: $font-mono;
    }
}

.home-links {
//    margin: 5px 0;
    font-family: $font-mono;
    padding-left: 15pt;
    > li {
        list-style: none;
//        display: inline-block;
    }
    svg {
        fill: $color;
        height: 24px;
        width: 30px;
        padding: 0 6px;
    }
}
