@import "vars";
@import "fonts";
@import "nav-foot";

body{
    margin: 0;
    background: $background;
    color: $color;
    font-family: $font-serif;
    line-height: 1.4;
}

.wrapper{
    margin: 2em auto;
    padding: 0 $wrapper-padding;
    max-width: $max-width;

    li {
        margin-bottom: 5px;
    }
}
.ig-wrapper{ max-width: 50rem; }

// Text elements

a {
    color: $link-color;
}
code {
    font-family: $font-mono;
}
hr {
    border-top: 0;
    border-color: #515151;
}


// Headers
h1,h2,h3,h4 {
  font-family: $font-sans;
}
h2 {
  border-bottom: 1px solid $footer-color;
}
h2,h3,h4{ margin-top: 1.2em; }

// About page
.card {
    > img {
        float: right;
        max-width: 30%;
        margin: 2px 0 7px 7px;
    }
}
