:root {
    --primary-color: #f2f2f2;
    --secondary-color: #888;
    --bg-color: #1F2122;
    --link-color: #6bc7ff;
    --button-color: #28cc87;
		.theme-moon { display:none; }
}

:root[data-theme-preference=light] {
    --primary-color: #1F2122;
    --secondary-color: #777;
    --bg-color: #f2f2f2;
    --link-color: royalblue;
    --button-color: royalblue;
		.theme-sun { display:none; }
		.theme-moon { display:initial; }
}

$background: #1F2122;
$darker-background: #1F2122;
$color: #f2f2f2;
$link-color: #6bc7ff;
$nav-link-color: #28cc87;
$footer-color: #888;

// Font-size
$font-size: 105%;
$nav-font-size: 1em;
$footer-font-size: 10.8pt;


//
// Sizes
//

$max-width: 45rem;
$wrapper-padding: 15px;
$nav-button-padding: 15px;
