:root {
	--text-color: #F2F2F2;
	--text-lighter-color: #A6A6A6;
	--background-color: #242629;
	--very-weak-color: #525252;
	--link-color: #6BC7FF;
	--accent-color: #00BE84;
	.theme-moon { display:none; }

	--wrapper-width: 700px;
  
  --font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif: font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; 
}

:root[data-theme-preference=light] {
	--text-color: #1F2122;
	--text-lighter-color: #2C2C2C;
	--background-color: #F2F2F2;
	--very-weak-color: #ACACAC;
	--link-color: #3366cc;
	--accent-color: royalblue;
	.theme-sun { display:none; }
	.theme-moon { display:initial; }
}

$background: #1F2122;
$darker-background: #1F2122;
$color: #f2f2f2;
$link-color: #6bc7ff;
$nav-link-color: #28cc87;
$footer-color: #888;

// Font-size
$font-size: 105%;
$nav-font-size: 1em;
$footer-font-size: 10.8pt;


//
// Sizes
//

$nav-button-padding: 15px;
