//
// Basic
//

// Colors
$background: #212529;
$color: #f2f2f2;
$link-color: palegreen;
$footer-color: #888;

// Font-size
$font-size: 107.5%;
$nav-font-size: 90%;
$footer-font-size: 10.8pt;


//
// Sizes
//

$max-width: 42rem;
$wrapper-padding: 15px;
$nav-button-padding: 12px;
