<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/start.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>

<body>

<div class="wrapper">

<form class="searchbox" method="get" id="search" action="https://duckduckgo.com/">
<input class="search" type="text" name="q" maxlength="300" placeholder="DuckDuckGo Search" autofocus/>
</form>

{% for category in site.data.start %}
<div class="start-cat">
  <h2><i class="fa fa-{{ category.icon }}" aria-hidden="true"></i> {{ category.name }}</h2>
  <ul>
  {% for link in category.links %}
    <li><a href='{{ link.link }}'><img src='{{ link.icon }}'/> {{ link.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endfor %}

</div>

</body>
